USE [master]
GO
/****** Object:  Database [SE1740SP23]    Script Date: 3/10/2023 11:47:42 PM ******/
CREATE DATABASE [SE1740SP23]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SE1740SP23', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.GAHONGHAC\MSSQL\DATA\SE1740SP23.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SE1740SP23_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.GAHONGHAC\MSSQL\DATA\SE1740SP23_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SE1740SP23].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SE1740SP23]
GO
/****** Object:  Table [dbo].[Registration]    Script Date: 3/10/2023 11:47:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration](
	[userID] [nvarchar](20) NOT NULL,
	[password] [nvarchar](30) NOT NULL,
	[lastName] [nvarchar](100) NOT NULL,
	[roleID] [bit] NOT NULL,
 CONSTRAINT [PK_Registration] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
