/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 28, 2023, 10:49:24 PM
    Author     : flami
*/
*{
    background-color: #2c3338;
}
h1{
    color: #ff3399;
}
